################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ScreenIP/v15
/Akapulko/.vs/Akapulko/v15/Server/sqlite3
/.vs
